<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">

    <title>Inicio</title>
</head>
<body>
    <div>
        <div id="titulo">
            <h1>¡Hola Mundo!</h1>
        </div>
        <div id="docentes">
            Ayudantes
            <li>
                <ul>Braulio Mellado L.</ul>
                <ul>Carlos Alberto Vega Hernández</ul>
                <ul>Francisco Barrera V.</ul>
                <ul>José Canto</ul>
                <ul>Marcelo Castillo O.</ul>
                <ul>Nicolás Villa Contardo</ul>
                <ul>Rodrigo Pizarro</ul>
                <ul>Sebastián Donoso</ul>
                <ul>Sofia Herrera</ul>
            </li>
            Auxiliares
            <li>
                <ul>Javiera Ovalle T.</ul>
                <ul>Jorge Pinto</ul>
                <ul>Macarena V. Osorio A.</ul>
                <ul>Pablo Hernández Muñoz</ul>
            </li>
            Profesores
            <li>
                <ul>Juan D. Velásquez</ul>
                <ul>Víctor Hernández M.</ul>
                <ul>Ángel Jiménez Molina</ul>
            </li>
        </div>
    </div>
</body>
</html>