{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <title>Tarea</title>
</head>
<body>
    <div class="container">
        {% include 'app_de_IN3501/menu.html' %}
        <h1>IN3501</h1>
        <div id="IN3501">
            <p>
                Curso obligatorio de la malla de Ingeniería Civil Industrial de la Universidad de Chile.
            </p>
        </div>
    </div>
</body>
</html>